<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/myabc_gas.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n</pattern>
			<charset>GBK</charset>
        </encoder>
    
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/myabc_gas.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>GBK</charset>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="myabc_gas" level="DEBUG" />
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>